.Coiffeur .btn {
  padding: 0.6rem 1.5rem;
  background: rgba(0, 0, 0, 0.922);
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 13px;
  cursor: pointer;
}
.Coiffeur .btn a {
  color: white;
}
.Coiffeur .btn1 {
  padding: 0.6rem 1.5rem;
  background: rgba(0, 0, 0, 0.922);
  border-radius: 1.5rem;
  margin: 20px;
  border: none;
  outline: none;
  font-size: 13px;
  cursor: pointer;
}
.Coiffeur .btn1 a {
  color: white;
}
.Coiffeur .btn1:hover {
  background: rgb(140, 18, 18);
}
.Coiffeur .btn:hover {
  background: rgb(140, 18, 18);
}
.Coiffeur .navBar .navLists .navItem .navLink {
  color: rgba(0, 0, 0, 0.922);
}
.Coiffeur .navBar .navLists .navItem .navLink:hover {
  color: rgb(140, 18, 18);
}
.Coiffeur .logo {
  color: rgba(0, 0, 0, 0.922);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}
.Coiffeur .decouvrez {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.Coiffeur p {
  color: rgba(0, 0, 0, 0.922);
  font-family: "Times New Roman", Times, serif;
  align-items: center;
  font-size: 19px;
  line-height: 40px;
  text-align: left;
  margin: 0rem 10rem;
  padding: 2rem 1rem;
}
.Coiffeur h1 {
  color: rgba(0, 0, 0, 0.922);
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  line-height: 40px;
}
.Coiffeur h2 {
  margin: 0rem 10rem;
  padding: 2rem 1rem;
  font-family: "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.922);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}
.Coiffeur h3 {
  padding: 0rem 1rem;
  color: rgba(0, 0, 0, 0.922);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  text-align: left;
  margin: 0rem 10rem;
  font-family: "Times New Roman", Times, serif;
}
.Coiffeur .img-container {
  align-items: center;
  justify-content: center;
}
.Coiffeur .row {
  padding-left: 160px;
  bottom: 10%;
  grid-template-columns: repeat(3, 1fr);
}
.Coiffeur .row .forme {
  border-radius: 36% 0% 36% 0%/36% 10% 36% 0%;
  height: 250px;
  width: 250px;
  position: relative;
  cursor: pointer;
  margin: 0.01rem;
}
.Coiffeur .row h3 {
  font-size: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.922);
  cursor: pointer;
  align-items: left;
  align-self: left;
  align-content: left;
}
.Coiffeur .row h4 {
  display: block;
  color: rgba(0, 0, 0, 0.922);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0.009rem;
  cursor: pointer;
}
.Coiffeur img {
  align-items: center;
  justify-content: center;
  margin: 0rem 18rem;
  width: 60%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.Coiffeur .BarRechercheContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 0rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--whiteColorDeam);
  z-index: 100;
}
.Coiffeur .BarRechercheContent .textDiv {
  padding: 2rem 0;
}
.Coiffeur .BarRechercheContent .textDiv .smallText {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.Coiffeur .BarRechercheContent .textDiv .BarRechercheTitle {
  position: relative;
}
.Coiffeur .BarRechercheContent .cardDiv {
  position: relative;
  padding: 0.9rem 1rem;
  background: var(--whiteColor);
  border-radius: 30px;
  gap: 1rem;
}
.Coiffeur .BarRechercheContent .cardDiv .labelRech {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 {
  height: 40px;
  padding: 0 1rem;
  background: hsl(0, 0%, 93%);
  border-radius: 3rem;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 .inputRech {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 .inputRech::-moz-placeholder {
  font-size: 13px;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 .inputRech::placeholder {
  font-size: 13px;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 .icon {
  font-size: 18px;
  color: var(--gradientColor);
  margin-left: 10px;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 ::-moz-placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 ::placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.Coiffeur .BarRechercheContent .cardDiv .input1 ::-ms-textInput-placeholder {
  color: rgb(119, 122, 69);
}
.Coiffeur .BarRechercheContent .cardDiv .searchOptions1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.922);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
.Coiffeur .BarRechercheContent .cardDiv .searchOptions1:hover {
  background: rgb(140, 18, 18);
}
.Coiffeur .BarRechercheContent .cardDiv .searchOptions1 .navLink {
  color: var(--whiteColor);
}
.Coiffeur .BarRechercheContent .cardDiv .searchOptions1 .icon {
  font-size: 18px;
}
.Coiffeur .BarRechercheContent .cardDiv .searchOptions1 span {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 480px) {
  .Coiffeur .BarRechercheContent .cardDiv {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
  .Coiffeur .BarRechercheContent .cardDiv .searchOptions1 {
    width: 90%;
    position: relative;
    padding: 0.6rem 1.5rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}/*# sourceMappingURL=coiffure.css.map */