@charset "UTF-8";
.Coif {
  background-color: #F1F1F1;
  display: grid;
  padding: 0 4rem;
  bottom: 10%;
  /* Rest of the CSS */
}
.Coif .Tables {
  margin-left: 0.2rem;
}
.imageItem:hover img {
  transform: scale(1.1);
}

.viewMore {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewMore button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.viewMore p {
  margin: 0;
}
.Coif .servChoix {
  display: grid;
  position: relative;
  gap: 1rem;
  grid-template-columns: 5fr 2fr;

}
.Coif .servChoix .horaire{
  display: grid;
  position: relative;
  padding-left: 220px;
}
.Coif .PlusDetails {
  padding-bottom: -10rem;
  margin-left: 1rem;
  color: gray;
  cursor: pointer;
}
.Coif .forme {
  border-radius: 20px;
  height: 190px;
  width: 280px;
  position: relative;
  cursor: pointer;
  margin: 1rem;
}

.iconCoiff {
  color: black;
  font-size: 20px;
  position: relative;
}

h4 {
  color: black;
  text-decoration: underline;
  font-size: 16px;
  text-align: left;
  align-items: left;
  align-self: left;
  font-weight: 500;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  -webkit-padding-before: 0%;
          padding-block-start: 0%;
  cursor: pointer;
}

.h4 {
  color: black;
  font-size: 16px;
  text-align: left;
  align-items: left;
  align-self: left;
  font-weight: 500;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  -webkit-padding-before: 0%;
          padding-block-start: 0%;
  cursor: pointer;
}

h5 {
  width: 50%;
  color: black;
  font-size: 16px;
  text-align: left;
  align-items: left;
  align-self: left;
  font-weight: 500;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  -webkit-padding-before: 0%;
          padding-block-start: 0%;
  cursor: pointer;
}

.resvSmallTitre {
  width: 100%;
  color: black;
  font-size: 15px;
  text-align: left;
  align-items: left;
  align-self: left;
  font-weight: 500;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  -webkit-padding-before: 0%;
          padding-block-start: 0%;
  cursor: pointer;
}

.buttonCoiff {
  position: relative;
  padding: 0.6rem 1.5rem;
  background: black;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: var(--whiteColor);
  cursor: pointer;
  top: 20%;
  left: 65%;
}

.buttonCoiff a {
  color: var(--whiteColor);
  font-weight: 500;
}

.buttonCoiff :hover {
  background: black;
}

.resvTitre {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: 600;
}
.resvTitre2 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: 500;
}

.resvTitre1 {
  color: var(--textColor);
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}/*# sourceMappingURL=detailsCoiff.css.map */