.ClientPhoto{
  border-radius: 50%;
  width: 15%;
  height: 15%;
   
}
.navLink{
  text-decoration: none;
  color: black;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
}
.page-content {
  background-color: #f2f2f2;
  height: 100%;
}
.popup {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1;
}

.popup h2 {
  margin-top: 0;
}

.popup Stack {
  width: 100%;
}

.popup TextField {
  width: 100%;
  margin-bottom: 10px;
}
.popup Select {
  width: 100%;
  margin-bottom: 10px;
}
.demandeProp{
text-align: center;
justify-content: center;
padding-top: 20px;

}
.custom-card-body {
display: flex;
justify-content: center;
align-items: center;
}

.inputFile{
display: none;
}
.labelFile{
display: inline-block;
text-transform: uppercase;
color: #fff;
background-color: bisque;
text-align: center;
padding: 15px 40px;
font-size: 18px;
letter-spacing: 1.5px;
user-select: none;
cursor: pointer;
box-shadow: 5px 15px 25px black;
border-radius: 3px;
}
.i{
font-size: 20px;
margin-right: 10px;
}
:root {
--PrimaryColor:rgb(97, 100, 75);
--SecondaryColor:rgb(119, 122, 69);
--gradientColor:linear-gradient(to right,#c9b38e,#f0ba5b);
--whiteColor:hsl(0,0%,100%);
--blackColor:hsl(201,33%,16%);
--textColor:rgb(44, 51, 51);
--whiteColorDeam:hsl(0,0%,93%);
--greyText:rgb(190,190,190);
--inputColor:rgb(239,239,239);
--bodyColor:rgb(240,240,246);
--cardBG:rgb(225,225,235);
}

.color{
background-color: #90784f;
}
.padding{
padding: 20px;
}
.LabelColor{
color: rgb(44, 51, 51);
font-size: 15px;
}


.file-upload {
text-align: center;
border: 3px dashed #90784f;
padding: 1.5rem;
position: relative;
cursor: pointer;
}
.p{
width: 20px;
height: 20px;
}
.TextField {
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
cursor: pointer;
}
@media screen and (max-width: 768px) {
.selectProp{
  width: 100%;
  height: 45px;
}
.img{height: 100%;}
}
@media (min-width: 768px) and (max-width: 992px) {
.selectProp{
  width: 100%;
  height: 45px;
}
.img{
  height: 100%;
  width: 100%;
}
}

@media (min-width: 992px) {
.selectProp{
  width: 100%;
  height: 45px;
}
.img{
  width: 100%;
  height: 100%;}
}

.err{
  font-size: 12px;
  color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/*couleur et style*/
:root{
 --PrimaryColor:#c9b38e;
 --SecondaryColor:#683a34;
 --gradientColor:linear-gradient(to right,#c9b38e,#683a34);
 --whiteColor:hsl(0,0%,100%);
 --blackColor:hsl(201,33%,16%);
 --textColor:rgb(44, 51, 51);
 --whiteColorDeam:hsl(0,0%,93%);
 --greyText:rgb(190,190,190);
 --inputColor:rgba(150, 154, 123, 0.482);
 --bodyColor:rgb(240,240,246);
 --cardBG:rgb(225,225,235);
 --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
}
  Button{
    background-color: black;
    color: white;
  }
  .App {
    /* padding: 0.5rem 3.5rem; */
    color: var(--black);
    background: linear-gradient(
      106.37deg,
      #c19a6b 29.63%,
      #ce851e7e 51.55%,
      #D9A86E 90.85%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  
  .AppGlass {
    display: grid;
    height: 97%;
    width: 97%;
    background: var(--glass);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  @media screen and (max-width: 1200px) {
    .AppGlass{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .AppGlass{
      grid-template-columns: 1fr;
    } 
    .AppGlass::-webkit-scrollbar{
      display: none;
    }
  }
.row{
    display: grid;
    padding: 0 6rem;
    bottom:10%;
    grid-template-columns: repeat(3,1fr);
   
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size: 2rem;
    cursor:pointer;
}
.flex{
    display:flex;
    align-items: center;
}
.grid{
    display:grid;
    align-items: center;
}
.btn{
    padding: .6rem 1.5rem;
    background: white;
    border-radius: 1rem;
    border:none;
    outline: none;
    font-size: 13px;
    cursor:pointer;

}
.btnDeco{
  padding: .6rem 1.5rem;
  background: white;
  border-radius: 1rem;
  border:none;
  outline: none;
  font-size: 13px;
  cursor:pointer;
  color: black;
}
.btnDeco:hover{
  background: rgb(140, 18, 18);
  color: white;
}
.btn1{
    padding: .6rem 1.5rem;
    background:white;
    border-radius: 1.5rem;
    margin:20px;
    border:none;
    outline: none;
    
    font-size: 13px;
    cursor:pointer;
}
.btn a {
  color:black;
}

.btn:hover{
    background: rgb(140, 18, 18);
}
.btn :hover{
  color: white;
}
 .btn1 a {
    color:black;
  
}
.btn1:hover{
  background: rgb(140, 18, 18);
}
.btn1 :hover{
  color: white;
}

img,video{
    width:100%;
    height: auto;
}
input{
    font-size: 100%;
}
body{
    background:var(--bodyColor);
}
html{
    scroll-behavior: smooth;
}
@media screen and (min-width:556px){
.mainContent{
    grid-template-columns: repeat(2,1fr);
}
}
.navBarLink {
    margin: 20px;
    padding: 125px;
  }
  .navBarLink1 {
    margin: 20px;
    padding: 160px;
  }
  .navBarLinks {
    margin: 20px;
    padding: 25px;
  }
  

  .heurs{
    color: rgb(11, 11, 11);
    background:rgba(128, 128, 128, 0.062);
    box-shadow: #121213;
  }
  




.ClientPhoto{
    border-radius: 50%;
    width: 25%;
    height: 25%;
     
}
.PersoPhoto{
  border-radius: 50%;
  width: 35%;
  height: 35%;
   
}
.navLink{
    text-decoration: none;
    color: black;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
  }
 
  .popupEvent {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-height: 80vh;
    z-index: 2000;
  }
  
  .popEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  .page-content {
    background-color: #f2f2f2;
    height: 100%;
  }
  .popup {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-height: 70vh;
    overflow-y: auto;
    z-index: 2000;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup Stack {
    width: 100%;
  }
  
  .popup TextField {
    width: 100%;
    margin-bottom: 10px;
  }

.BtnEnreg{
  align-self: center;
  align-items: center;
  align-content: center;
}
.detailsBtn{
  color: white;
  background:#2065D1;
}
.Label{
font-size: 15px;

}
.ClientPhotoCons{
  border-radius: 50%;
  width: 25%;
  height: 25%;
 
  border-radius: 50%;
  align-self: center;
  overflow: hidden;
  border: 1px solid grey;
}
.popoverStyle{
  z-index: 99999 !important;
}
.field{ 
  height: 3rem;
  
  border-radius: 6px;

  border: 0.5px solid rgba(128, 128, 128, 0.429); /* Gris transparent */
  
  font-family: 'Noto Sherif';
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.field:focus{
  outline: 0.5px solid rgba(32, 100, 209, 0.92);; /* Noir lorsqu'il est focusé */

}
.field:hover{
  outline: 0.5px solid rgba(24, 27, 31, 0.92);; /* Noir lorsqu'il est focusé */

}





.custom-datepicker-calendar {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
  color: #333;
  font-size: 14px;
  margin-top: 4px;
  padding: 8px;
}
  
  
/**********************************Page Authhhhentif****************************************/

.loginAuth {
  justify-content: right;
  align-items: right;
  margin: 0 11rem;
  padding: 1px;
}
.labelAuth {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.inputAuth {
  height: 33px;
  padding: 10 1rem;
  position: relative;
  justify-content: center;
  border-radius: 0.8rem;
  align-items: center;
  border: none;
  background-color: #c4c4c46b;
  outline: none;
  width: 90%;
  font-size: 13px;
  font-weight: 500;
}
.inputAuth::-moz-placeholder {
  font-size: 13px;
}
.inputAuth::placeholder {
  font-size: 13px;
}
.Authbtn1 {
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.6rem 5rem;
}
.Authbtn1 a {
  color: var(--blackColor);
  font-weight: 500;
}
.Authbtn3 {
  height: 40px;
  width: 160px;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.6rem 5rem;
}

.Authbtn2 {
  height: 40px;
  width: 160px;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0rem 16rem;
}
.Authbtn2 a {
  color: var(--blackColor);
  font-weight: 500;
}
.Autha {
  font-size: 15px;
  color: rgb(20, 20, 20);
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
.Autha a {
  color: var(--blackColor);
  font-weight: 500;
}
.Autha1 {
  font-size: 15px;
  color: rgb(20, 20, 20);
  text-decoration: underline;
  background: rgba(220, 216, 216, 0.826);
  border: none;
  left: 50%;
  padding: 1.5rem;
  margin: 0rem 10rem;
  cursor: pointer;
}
.Autha1 a {
  color: var(--blackColor);
  font-weight: 500;
  background: rgba(220, 216, 216, 0.826);
}
.Authimg-container {
  display: grid;
  gap: 1rem;
  --row-height:300px;
  margin: 50px;
  padding: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
}
.Authimg-container h2 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin: 10px;
  position: relative;
}
.Authimg-container .form {
  background: rgba(220, 216, 216, 0.826);
}
.Auth img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Authpassword-toggle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}
.Authdivider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Authdiv1 {
  width: 110%;
}
.Authdiv2 {
  width: 110%;
}
.Authh3 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 6px;
  text-align: center;
  margin: 0rem;
  padding-bottom: 0px;
  bottom: 0;
  top: 0;
}

.Authicon {
  color: rgb(70, 70, 68);
  margin: 1rem 18rem;
  font-size: 23px;
  cursor: pointer;
}
.Authicon2 {
  color: rgb(70, 70, 68);
  margin: 1rem 18rem;
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  right: 65px;
  z-index: 1000;
}
.Authicons {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}
.Authbtns {
  padding: 0.6rem 1.5rem;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

/*# sourceMappingURL=auth.css.map */



/**********************************Page BarRechercheee****************************************/

:root {
  --PrimaryColor:rgb(97, 100, 75);
  --SecondaryColor:rgb(119, 122, 69);
  --gradientColor:linear-gradient(to right,#c9b38e,#be9855);
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:rgba(50, 50, 49, 0.984);
  --whiteColorDeam:hsl(0,0%,93%);
  --greyText:rgb(190,190,190);
  --inputColor:rgba(150, 154, 123, 0.482);
  --bodyColor:rgb(240,240,246);
  --cardBG:rgb(225,225,235);
}


.BarRecherche {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.BarRecherche .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.BarRecherche h1 {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  margin: 20px;
}
.BarRecherchesmallText {
  text-align: center;
  align-items: center;
  padding: 10rem;
}
.BarRecherche video {
  position: absolute;
  height: 164%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.BarRecherche .BarRechercheContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--whiteColorDeam);
  z-index: 100;
}
.BarRecherche .BarRechercheContent .textDiv {
  padding: 2rem 0;
}
.BarRecherche .BarRechercheContent .textDiv .smallText {
  font-size: 13px;
}
.BarRecherche .BarRechercheContent .textDiv .BarRechercheTitle {
  position: relative;
}
.BarRecherche .BarRechercheContent .cardDiv {
  position: relative;
  padding: 0.9rem 1rem;
  background: var(--whiteColorDeam);
  border-radius: 30px;
  gap: 1rem;
}
.BarRecherche .BarRechercheContent .cardDiv .labelRech {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 {
  height: 40px;
  padding: 0 1rem;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 3rem;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 .inputRech {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 .inputRech::-moz-placeholder {
  font-size: 13px;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 .inputRech::placeholder {
  font-size: 13px;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 .icon {
  font-size: 18px;
  color: var(--gradientColor);
  margin-left: 10px;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 ::-moz-placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 ::placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.BarRecherche .BarRechercheContent .cardDiv .input1 ::-ms-textInput-placeholder {
  color: rgb(119, 122, 69);
}
.BarRecherche .BarRechercheContent .cardDiv .searchOption1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.922);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.BarRecherche .BarRechercheContent .cardDiv .searchOption1:hover {
  background: rgb(140, 18, 18);
}
.BarRecherche .BarRechercheContent .cardDiv .searchOption1 .navLink {
  color: var(--whiteColor);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.BarRecherche .BarRechercheContent .cardDiv .searchOption1 .icon {
  font-size: 18px;
}
.BarRecherche .BarRechercheContent .cardDiv .searchOption1 span {
  font-size: 13px;
}

@media screen and (min-width: 480px) {
  .BarRecherche .BarRechercheContent .cardDiv {
    width: 68%;
    grid-template-columns: repeat(3, 1fr);
  }
  .BarRecherche .BarRechercheContent .cardDiv .searchOption1 {
    width: 90%;
    position: relative;
    top: 21%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}/*# sourceMappingURL=barRecherche.css.map */


/**********************************Page Digital****************************************/

.Digitale {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}
.Digitale .titre {
  color: var(--blackColor);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.Digitale .img-container {
  display: grid;
  gap: 1rem;
  --row-height:300px;
  margin: 50px;
  padding: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
}
.Digitale .img-container h2 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 65px;
  text-align: left;
  margin: 20px;
  padding: 10px;
}
.Digitale img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.Digitale .btn2 {
  background: rgba(0, 0, 0, 0.922);;
  border-radius: 1.5rem;
  
  font-size: 14px;
  cursor:pointer;
  color: white;
 height: 41px;
 width: 160px;
}
.digital{
    color: black;
    font-size: 28px;
    line-height: 50px;
    margin: 3px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
  
  }
/*# sourceMappingURL=digitale.css.map */


/**********************************Page Erreur****************************************/
.Erreur {
  background-color: rgb(109, 109, 89);
}
.Erreur h1 {
  color: rgba(225, 225, 208, 0.954);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  line-height: 654px;
  text-align: center;
}/*# sourceMappingURL=erreur.css.map */

/**********************************Page NavBarr****************************************/


.header {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.155);
}

.header.scroll {
  /* Définir la couleur de la barre de défilement */
  background-color: white;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.155);

  .btn{
    padding: .6rem 1.5rem;
    background: rgba(0, 0, 0, 0.922);;
    border-radius: 1rem;
    border:none;
    outline: none;
    font-size: 13px;
    cursor:pointer;

}
.btn a{
  color: white;
}

.btnDeco{
  padding: .6rem 1.5rem;
  background: rgba(0, 0, 0, 0.922);;
  border-radius: 1rem;
  border:none;
  outline: none;
  font-size: 13px;
  cursor:pointer;
  color: white;
}

.btn1{
    padding: .6rem 1.5rem;
    background:rgba(0, 0, 0, 0.922);
    border-radius: 1.5rem;
    margin:20px;
    border:none;
    outline: none;
    font-size: 13px;
    cursor:pointer;
}
.btn1 a{
  color: white;
}
.btn1:hover{
  background: rgb(140, 18, 18);
  color: white;
}
.btnDeco:hover{
  background: rgb(140, 18, 18);
  color: white;
}
.btn:hover{
  background: rgb(140, 18, 18);
  color: white;
}
.navBar .navLists .navItem .navLink {
  color: rgba(0, 0, 0, 0.922);
  
}
.navBar .navLists .navItem .navLink:hover {
  color:rgb(140, 18, 18);
}
  .logo {
    color: rgba(0, 0, 0, 0.922);
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
  }
}

.logo {
  color: white;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family:'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
  .navBar {
    position: absolute;
    background: var(--whiteColorDeam);
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(92, 95, 99, 0.904);
    transition: 0.5s ease-in-out;
  }
  .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .navBar .navLists .navItem .navLink {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navBar .navLists .navItem .navLink:hover {
    color: rgb(250, 31, 31);
  }
  .btnNavBar{
    color: var(--whiteColor);
     margin-top: 1rem;
               width: max-content;
               bottom: -0.7rem;
               column-gap: .8rem;
               padding: 5px 1rem;
               border-radius: 3rem;
               justify-content: center;
               cursor: pointer;
  }
  .navBar .navLists .btn {
    margin-top: 1rem;
  }
  .navBar .navLists .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBar .closeNavbar:hover {
    color: var(--gradientColor);
  }
  .activeNavbar {
    top: 7rem;
  }
}
.toggleNavbar .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
}
.toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 769px) {
  .toggleNavbar {
    display: none;
  }
  .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.2rem 2rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: white;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navBar .navLists .navItem :hover {
    color: rgb(140, 18, 18);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}/*# sourceMappingURL=navbar.css.map */


/**********************************Page Questt****************************************/
.quest {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(119, 122, 100, 0.05);
  width: 100%;
}
.quest h1 {
  color: var(--blackColor);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.quest .sousPara {
  color: var(--blackColor);
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  margin: 50px;
  padding: 70px;
}
.quest li {
  font-size: 20px;
  color: rgb(70, 70, 68);
  cursor: pointer;
}
.quest hr {
  color: var(--inputColor);
}
.quest .icon {
  margin: 25px;
  padding-right: 35px;
  align-items: left;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}/*# sourceMappingURL=quest.css.map */


/**********************************Page ResetPassword****************************************/

.RestPass .loginRestPass {
  justify-content: right;
  align-items: right;
  margin: 0 11rem;
  padding: 1px;
}
.RestPass .labelRestPass {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.RestPass .inputRestPass {
  height: 33px;
  padding: 10 1rem;
  position: relative;
  justify-content: center;
  border-radius: 0.8rem;
  align-items: center;
  border: none;
  outline: none;
  width: 90%;
  font-size: 13px;
  font-weight: 500;
}
.RestPass .inputRestPass::-moz-placeholder {
  font-size: 13px;
}
.RestPass .inputRestPass::placeholder {
  font-size: 13px;
}
.RestPass .btn1 {
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.6rem 5rem;
}
.RestPass .btn1 a {
  color: var(--blackColor);
  font-weight: 500;
}
.RestPass .btn3 {
  height: 40px;
  width: 160px;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.6rem 5rem;
}
.RestPass .btn3 a {
  color: var(--blackColor);
  font-weight: 500;
}
.RestPass .btn2 {
  height: 40px;
  width: 160px;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0rem 16rem;
}
.RestPass .btn2 a {
  color: var(--blackColor);
  font-weight: 500;
}
.RestPass .a {
  font-size: 15px;
  color: rgb(20, 20, 20);
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
.RestPass .a a {
  color: var(--blackColor);
  font-weight: 500;
}
.RestPass .a1 {
  font-size: 15px;
  color: rgb(20, 20, 20);
  text-decoration: underline;
  background: rgba(220, 216, 216, 0.826);
  border: none;
  left: 50%;
  padding: 1.5rem;
  margin: 0rem 10rem;
  cursor: pointer;
}
.RestPass .a1 a {
  color: var(--blackColor);
  font-weight: 500;
  background: rgba(220, 216, 216, 0.826);
}
.RestPass .img-container {
  display: grid;
  gap: 1rem;
  --row-height:300px;
  margin: 50px;
  padding: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
}
.RestPass .img-container h2 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin: 10px;
  position: relative;
}
.RestPass .img-container .form {
  background: rgba(220, 216, 216, 0.826);
}
.RestPass img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.RestPass .password-toggle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}
.RestPass .divider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.RestPass .div1 {
  width: 110%;
}
.RestPass .div2 {
  width: 110%;
}
.RestPass h3 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 6px;
  text-align: center;
  margin: 0rem;
  padding-bottom: 0px;
  bottom: 0;
  top: 0;
}
.RestPass .eye {
  position: relative;
  margin: 0.09rem;
  top: 4px;
  right: 10%;
}
.RestPass .icon {
  color: rgb(70, 70, 68);
  margin: 1rem 18rem;
  font-size: 23px;
  cursor: pointer;
}
.RestPass .icon2 {
  color: rgb(70, 70, 68);
  margin: 1rem 18rem;
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  right: 65px;
  z-index: 1000;
}
.RestPass .icons {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}
.RestPass .btns {
  padding: 0.6rem 1.5rem;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.RestPass .btns a {
  color: var(--blackColor);
  font-weight: 500;
}
.RestPass ::-moz-placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.RestPass ::placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.RestPass ::-ms-textInput-placeholder {
  color: rgba(51, 51, 51, 0.963);
}/*# sourceMappingURL=RestPassword.css.map */



/**********************************Page SignUp****************************************/


.SignUp .loginSignUp {
  justify-content: right;
  align-items: right;
  margin: 0 11rem;
  padding: 1px;
}
.SignUp .labelSignUp {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.SignUp .inputSignUp {
  height: 33px;
  padding: 10 1rem;
  position: relative;
  justify-content: center;
  border-radius: 0.8rem;
  align-items: center;
  border: none;
  outline: none;
  width: 90%;
  font-size: 13px;
  font-weight: 500;
}
.SignUp .inputSignUp::-moz-placeholder {
  font-size: 13px;
}
.SignUp .inputSignUp::placeholder {
  font-size: 13px;
}
.SignUp .btn1 {
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.6rem 5rem;
}
.SignUp .btn1 a {
  color: var(--blackColor);
  font-weight: 500;
}
.SignUp .btn3 {
  height: 40px;
  width: 160px;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.6rem 5rem;
}
.SignUp .btn3 a {
  color: var(--blackColor);
  font-weight: 500;
}
.SignUp .btn2 {
  height: 40px;
  width: 160px;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0rem 16rem;
}
.SignUp .btn2 a {
  color: var(--blackColor);
  font-weight: 500;
}
.SignUp .a {
  font-size: 15px;
  color: rgb(20, 20, 20);
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
.SignUp .a a {
  color: var(--blackColor);
  font-weight: 500;
}
.SignUp .a1 {
  font-size: 15px;
  color: rgb(20, 20, 20);
  text-decoration: underline;
  background: rgba(220, 216, 216, 0.826);
  border: none;
  left: 50%;
  padding: 1.5rem;
  margin: 0rem 10rem;
  cursor: pointer;
}
.SignUp .a1 a {
  color: var(--blackColor);
  font-weight: 500;
  background: rgba(220, 216, 216, 0.826);
}
.SignUp .img-container {
  display: grid;
  gap: 1rem;
  --row-height:300px;
  margin: 50px;
  padding: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
}
.SignUp .img-container h2 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin: 10px;
  position: relative;
}
.SignUp .img-container .form {
  background: rgba(220, 216, 216, 0.826);
}
.SignUp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.SignUp .password-toggle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}
.SignUp .divider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.SignUp .div1 {
  width: 110%;
}
.SignUp .div2 {
  width: 110%;
}
.SignUp h3 {
  color: rgb(70, 70, 68);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 6px;
  text-align: center;
  margin: 0rem;
  padding-bottom: 0px;
  bottom: 0;
  top: 0;
}
.SignUp .eye {
  position: relative;
  margin: 0.09rem;
  top: 4px;
  right: 10%;
}
.SignUp .icon {
  color: rgb(70, 70, 68);
  margin: 1rem 18rem;
  font-size: 23px;
  cursor: pointer;
}
.SignUp .icon2 {
  color: rgb(70, 70, 68);
  margin: 1rem 18rem;
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  right: 65px;
  z-index: 1000;
}
.SignUp .icons {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}
.SignUp .btns {
  padding: 0.6rem 1.5rem;
  background: rgba(150, 154, 123, 0.482);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.SignUp .btns a {
  color: var(--blackColor);
  font-weight: 500;
}
.SignUp ::-moz-placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.SignUp ::placeholder {
  color: rgba(51, 51, 51, 0.963);
  opacity: 1;
}
.SignUp ::-ms-textInput-placeholder {
  color: rgba(51, 51, 51, 0.963);
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.alert-right {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 9999;
}

/*# sourceMappingURL=SignUp.css.map */


/**********************************Page Footer****************************************/

.footer {
  bottom: 0;
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: black;
}
.footer .imageDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}
.footer .imageDiv img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .imageDiv::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.footer .sesContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}
.footer .sesContent .footerCard {
  position: relative;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.footer .sesContent .footerCard .footerIntro {
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer .sesContent .footerCard .logoDiv .logo {
  color: var(--whiteColor);
  font-weight: 600;
}
.footer .sesContent .footerCard .logoDiv .logo .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.footer .sesContent .footerCard .footerParagraph {
  font-size: 13px;
  color: var(--whiteColor);
}
.footer .sesContent .footerCard .footerSocial {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: var(--whiteColor);
}
.footer .sesContent .footerCard .footerSocial .icon {
  font-size: 20px;
  margin: 6px;
}
.footer .sesContent .footerCard .footerSocial .icon:hover {
  color: var(--whiteColor);
}
.footer .sesContent .footerCard .Links {
  grid-template-columns: repeat(3, 1fr);

  display: grid;
  gap: 1rem;
}
.footer .sesContent .footerCard .Links .footerLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.footer .sesContent .footerCard .Links .footerLinks .linkGroup .groupTitle {
  display: block;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15;
  color: var(--whiteColor);
  margin-bottom: 0.5rem;
}
.footer .sesContent .footerCard .Links .footerLinks .linkGroup .footerList {
  font-size: 15px;
  color: var(--whiteColor);
  transition: 0.3s ease-in-out;
}
.footer .sesContent .footerCard .Links .footerLinks .linkGroup .footerList .icon {
  font-size: 15px;
}
.footer .sesContent .footerCard .Links .footerLinks .linkGroup .footerList:hover {
  color: var(--blackColor);
  transform: translateX(7px);
}
.footer .sesContent .footerCard .Links .footerLinks .linkGroup .footerList:hover .icon {
  color: var(--blackColor);
}
.footer .sesContent .footerCard .footerDiv {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(128, 128, 128, 0.587);
  padding: 0.5rem 2rem;
}
.footer .sesContent .footerCard .footerDiv small {
  font-size: 10px;
  color: white;
}/*# sourceMappingURL=footer.css.map */



/**********************************Page Main****************************************/


h2{
  margin: 0rem 10rem;
  padding: 2rem 1rem;
  font-family: 'Times New Roman', Times, serif;
  color:rgba(0, 0, 0, 0.922);
  font-weight:500;
  align-items: center;
  justify-content: center;
  font-size:40px;
  text-align:center;
}
.main h3 {
  color: rgb(140, 18, 18);
  font-weight: 500;
  font-size: 30px;
  line-height: 65px;
  margin: 3px;
  font-family: 'Times New Roman', Times, serif;

}
.main .cont {
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 50%;
  grid-template-columns: repeat(2, 1fr);
}
.main .slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1500px;
  width: 85%;
}
.main .slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 20px;
}
.main .text {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 65px;
  position: -ms-page;
  -moz-text-align-last: left;
       text-align-last: left;
}
.main .h3 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;

}
.description {
  white-space: pre-line;
}

.main .slideshowSlider {
  white-space: nowrap;
  transition: ease 2000ms;
}
.main .slideshowDots {
  text-align: center;
}
.main .slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}
.main .slideshowDot.active {
  background-color: black;
}/*# sourceMappingURL=main.css.map */